<form class="form-horizontal bmauth-container" role="form" ng-submit="vm.submitApplicationForm()">
	<fieldset>
		<legend>{{ 'application.form.header' | translate}}</legend>
		<div class="form-group">
			<label for="inputName" class="col-md-3 control-label">{{ 'application.form.label.name' | translate}}</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="inputName" ng-model="vm.applicationField.applicationName"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputUrl" class="col-md-3 control-label">{{ 'application.form.label.url' | translate}}</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="inputUrl" ng-model="vm.applicationField.url"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputTestMode" class="col-md-3 control-label">{{ 'application.form.label.test_mode' | translate}}</label>
				<div class="col-md-2">
			     	<select class="form-control" id="inputTestMode" ng-model="vm.applicationField.testMode">
					  <option value="false" selected="selected">{{ 'text.no' | translate}}</option>
					  <option value="true">{{ 'text.yes' | translate}}</option>
					</select>
			    </div>
		</div>
		<div class="form-group">
			<label for="inputMandatoryContract" class="col-md-3 control-label">{{ 'application.form.label.mandatory_contract' | translate}}</label>
				<div class="col-md-2">
			     	<select class="form-control" id="inputMandatoryContract" ng-model="vm.applicationField.mandatoryContract">
					  <option value="false">{{ 'text.no' | translate}}</option>
					  <option value="true" selected="selected">{{ 'text.yes' | translate}}</option>
					</select>
			    </div>
		</div>
		
		<div class="form-group">
			<label for="inputActive" class="col-md-3 control-label">{{ 'application.form.label.active' | translate}}</label>
				<div class="col-md-2">
					<input type="checkbox" id="inputActive" value="1" ng-model="vm.applicationField.active" checked="checked">
			    </div>
		</div>
		
			
		<legend>{{ 'application.role.form.header' | translate}}</legend>

		<div class="alert alert-danger" ng-show="vm.appRoleDeleted">
			{{ 'application.role.form.header.delete.success' | translate }}
		</div>
		<div class="alert alert-success" ng-show="vm.appRoleSaved">
			{{ 'application.role.form.header.save.success' | translate }}
		</div>

		<table datatable="" dt-options="vm.dtOptionsRole" dt-columns="vm.dtColumnsRole"  dt-instance="vm.dtInstanceRole" class="table table-hover table-striped"></table>

		<button type="button" class="btn btn-default" ng-click="vm.dtNewRole()">{{ 'btn.new' | translate}}</button>
		<br>
		<br>
		
		<legend>{{ 'application.contract.form.header' | translate}}</legend>

		<div class="alert alert-danger" ng-show="vm.appContractDeleted">
			{{ 'application.contract.form.header.delete.success' | translate }}
		</div>
		<div class="alert alert-success" ng-show="vm.appContractSaved">
			{{ 'application.contract.form.header.save.success' | translate }}
		</div>

		<table datatable="" dt-options="vm.dtOptionsContract" dt-columns="vm.dtColumnsContract"  dt-instance="vm.dtInstanceContract" class="table table-hover table-striped"></table>		

		<button type="button" class="btn btn-default" ng-click="vm.dtNewOnlineContract()">{{ 'btn.new' | translate}}</button>
		<br>
		<br>
	
		<div class="col-md-8">
			<button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'btn.save' | translate}}</button>
		</div>
		<div class="col-md-4">
			<button class="btn btn-lg btn-primary btn-block" ng-click="vm.cancel()">{{ 'btn.cancel' | translate}}</button>
		</div>
		
		 <pre> {{vm.applicationField  | json}}</pre>
		
		</fieldset>
	
		<input type="hidden" value="1"></input>
	
</form>