<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss('cancel');" aria-hidden="true">×</button>
	<h4 class="modal-title">{{ 'forgotPassword.form.header' | translate }}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal bmauth-container" role="form">
		<fieldset>
			<div class="form-group">
				<label for="inputEmail" class="col-md-3 control-label">{{
					'forgotPassword.form.label.email' | translate}}</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="inputEmail"	ng-model="vm.data.userEmail" />
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="$close('send');">{{ 'btn.send' | translate}}</button>
	<button type="button" class="btn btn-default" ng-click="$dismiss('cancel');">{{ 'btn.cancel' | translate}}</button>
</div>
