<div class="jumbotron home-showcase">
	<div class="home-cellphone"></div>
	<div class="top">
		<div class="text">
			<h2>Ouça os melhores lançamentos do mundo do <span class="text-primary">funk</span>, em primeira mão! Baixe agora o aplicativo!</h2>
			<br/><br/>
			<h4>É um artista e quer divulgar sua <span class="text-primary">música</span>? Clique em Entrar e comece agora mesmo.</h4>
		<!-- <p sec:authorize="isAnonymous()"><a href="login.html" th:href="@{/login}" class="btn btn-primary btn-lg" role="button">Login &raquo;</a></p>-->
		</div>
	</div>
	<div class="bottom">
		<img class="dl-button" src="images/dl-googleplay.png" /> 
		<img class="dl-button" src="images/dl-applestore.png" />
	</div>
</div>