<form class="form-horizontal form-signin" role="form" ng-submit="vm.login()">
	<a href="/bmauth/login/facebook" class="btn btn-primary btn-block btn-lg" id="facebookSignup">
		<i class="fa fa-facebook-square"></i> 
		<strong>{{ 'login.btn.facebook.signin' | translate}}</strong>
	</a>
	<p/>
	<a href="/bmauth/login/google" class="btn btn-primary btn-block btn-lg" id="googleSignup">
		<i class="fa fa-google-plus-square"></i> 
		<strong>{{ 'login.btn.google.signin' | translate}}</strong>
	</a>
	<h4 class="text-left">{{ 'login.header.or' | translate}}</h4>
	<div class="alert alert-danger" ng-show="vm.error">
		{{ 'login.error.loginError' | translate }}
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" name="username" class="form-control"	placeholder="E-mail" required="required" autofocus="autofocus" ng-model="vm.credentials.username" />
		</div>
	</div> 
	<div class="form-group">
		<div class="col-sm-6">
			<input type="password" name="password" class="form-control" placeholder="Senha" required="required" ng-model="vm.credentials.password"/>
		</div>
		<div class="col-sm-6">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</div>
	</div> 
	<div class="form-group">
		<div class="col-sm-6">
			<div class="checkbox">
				<label> <input type="checkbox" value="remember-me" /> Lembrar de mim </label>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="checkbox">
				<p class="text-right"><a href="#">Esqueci minha senha</a></p>
			</div>
		</div>
	</div> 
	
	<hr/>
	<a href="/bmauth/signup" class="btn btn-primary btn-block" id="signIn">
		<strong>Criar cadastro</strong>
	</a>
</form>