/** Application LESS variables **/

/*
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         #e5af00;
@brand-success:         #62c462;
@brand-info:            #5bc0de;
@brand-warning:         #f89406;
@brand-danger:          #ee5f5b;

@body-bg:               #000;
@text-color:            #fff;
@link-color:            #fff;
@link-hover-color:      #fff;
@link-hover-decoration: underline;

@navbar-inverse-bg: #3e3e3e;
@navbar-height: 70px;

@jumbotron-padding: 0;
*/


/** CSS Customizations */

/** MAIN BODY */
body {
	padding-top: 100px;
	padding-bottom: 30px;
}

/** NAVIGATION BAR */
.navbar.navbar-inverse.navbar-fixed-top.navbar-transparent {
	background-color: transparent;
    border: none;
}

/** SIGN IN PAGE **/
.form-signin {
	max-width: 430px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin .text-left {
	margin: 30px 0;
}

#facebookSignup {
	background-color: #24479b;
	border: none;
}
#googleSignup {
	background-color: #cc3732;
	border: none;
}

.bmauth-container {
	margin: 0 auto;
	max-width: 700px;
}

/** GENERAL FORM **/
.form-horizontal input.ng-invalid.ng-touched {
    /*background-color: @brand-danger;*/
}

/** APPLICATIONS SCREEN **/
.closeTab {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

/** DATATABLE **/
.table-hover {
    cursor: pointer;
}

