<form class="form-horizontal form-signin" role="form" ng-submit="vm.submitForgotMyPasswordForm()">
	<fieldset>
		<legend>{{ 'forgotPassword.form.header' | translate}}</legend>

		<div class="alert alert-danger" ng-show="vm.emailInvalido">
			{{ 'forgotPassword.form.emailInvalido' | translate }}
		</div>

		<div class="alert alert-danger" ng-show="vm.showError">
			{{ vm.error }}
		</div>

		<div class="form-group">
			<label for="inputEmail" class="col-md-4 control-label">{{ 'forgotPassword.form.label.email' | translate}}</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="inputEmail" ng-model="vm.forgotMyPassword.email"/>
			</div>
		</div>

		<hr/>
		<div class="col-md-8">
			<button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'btn.send' | translate}}</button>
		</div>
		<div class="col-md-4">
			<button class="btn btn-lg btn-primary btn-block" ng-click="vm.cancel()">{{ 'btn.cancel' | translate}}</button>
		</div>
		
		</fieldset>
	
</form>